.product-container {
	margin: 10px 27px;
	.product-header {
		display: flex;
		padding: 26px;
		.product-header-text {
			height: 50px;
			text-transform: uppercase;
			display: flex;
			align-items: center;
			padding-left: 30px;
			font-size: 20px;
		}
		.header-sort {
			padding-left: 300px;
			display: flex;
			align-items: center;
			.sort-size button {
				color: #828282;
				font-weight: 500;
				cursor: pointer;
				font-size: 16px;
			}
		}
	}
	.product-content {
		.product-item {
			margin: 13px 0;
			.product-img {
				background: url(../../../assets/images/somihoanhithietkeSM12982.jpg);
				height: 430px;
				width: 100%;

				/* Center and scale the image nicely */
				background-position: center;
				background-repeat: no-repeat;
				background-size: cover;
			}

			.item-title {
				font-size: 17px;
				color: #8a8a8f;
				text-transform: uppercase;
				text-align: center;
			}
			.item-price {
				font-weight: 600;
				font-size: 20px;
				text-align: center;
			}
		}
	}
}
